page-item-detail {
  .property-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 125px;
  }

  .property-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
