<ion-header>

  <ion-navbar>
    <ion-title>{{ "SETTINGS.TITLE" | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">

      <ion-item>
        <ion-label>{{ 'SETTINGS.LANGUAGE' | translate }}</ion-label>
        <ion-select formControlName="language">
          <ion-option value="en">{{ 'SETTINGS.ENGLISH' | translate }}</ion-option>
          <ion-option value="es">{{ 'SETTINGS.SPANISH' | translate }}</ion-option>
          <ion-option value="fr">{{ 'SETTINGS.FRENCH' | translate }}</ion-option>
          <ion-option value="it">{{ 'SETTINGS.ITALIAN' | translate }}</ion-option>
          <ion-option value="pt-br">{{ 'SETTINGS.PORTUGUESE' | translate }}</ion-option>
          <ion-option value="ru">{{ 'SETTINGS.RUSSIAN' | translate }}</ion-option>
        </ion-select>
      </ion-item>
<!--

      <ion-item>
        <ion-label>{{ 'SETTINGS.CURRENCY' | translate }}</ion-label>
        <ion-select formControlName="currency">
          <ion-option *ngFor="let currency of currencies" [value]="currency.currency" >{{currency.name}}</ion-option>
        </ion-select>
      </ion-item>
-->

<!--      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>-->
    </ion-list>

<!--    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>-->
  </form>

  <ion-card>
    <ion-card-header>{{ 'SETTINGS.SUBSCRIBE_CARD_TITLE' | translate }}</ion-card-header>
    <ion-card-content>
      <div *ngIf="!user.checkUserIsSuscribed()" text-center>
        <p *ngIf="daysToTest.value > 0">{{ 'SETTINGS.REMAINING_FREE_DAYS' | translate:daysToTest }}</p>
        <p *ngIf="daysToTest.value < 0">{{ 'SETTINGS.TRIAL_FINISHED' | translate }}</p>
        <button ion-button (click)="subscribe()">{{ 'SETTINGS.SUBSCRIBE_BUTTON' | translate }}</button>
      </div>
      <div *ngIf="user.checkUserIsSuscribed()" text-center>
        <p>{{ 'SETTINGS.SUBSCRIPTION_OK' | translate}}</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
