day {
  .lower-price {
    background-color: #ecb613;
  }
  .rise-price {
    background-color: #ff8000;
  }
  .position-value {
    color: #007CA6;
    font-size: 14px;
    font-weight: bolder;
  }
  .white-position-value {
    color: white;
    font-size: 14px;
    font-weight: bolder;
  }
  .grey-position-value {
    color: #f2f2f2;
    font-size: 14px;
    font-weight: bolder;
  }
  .minimum-stay-value {
    color: green;

  }
  .minimum-stay-alert {
    background-color: green;
  }
  .recommendation{
    border-radius: 3px;
    padding: 1px;
    color: white;
  }
  .dayNumber{
    font-size: 11px;
    color: grey;
    position: absolute;
    left: 2px;
    top: 0px;
  }
/*  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }*/
  .blink {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0.0;
    }
  }
}
