
<div *ngIf="day.past || !day.free">
  <ion-card>
    <ion-card-content>
      <h1>{{ 'DAY.OCUPPIED' | translate}}</h1>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="day.visibility===1 && day.position>0">
  <ion-card>
    <ion-card-content>
      <h1 text-center class="position-value"> <span [innerHTML]="day.positionSymbol"></span><sup>{{ordinalSupText(day.positionSymbol)}}</sup> {{ "DAY.POSITION.PAGE" | translate}}</h1>
      <p>{{ 'DAY.POSITION.KEYWORD' | translate:param}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <table>
        <tr>
          <td width="45%" translate class="table-header">{{ "DAY.POSITION.NIGHTS" | translate}}</td>
          <td width="45%" translate class="table-header">{{ "DAY.POSITION.ROOMS" | translate}}</td>
          <td width="10%"  translate class="table-header">{{ "DAY.POSITION.PAGE" | translate}}</td>
        </tr>
        <tr *ngFor="let x of positionData">
          <td>{{x.nights}}</td>
          <td>{{x.rooms | translate}}</td>
          <td><b>{{x.numpag}}</b></td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="day.visibility === 2">
  <ion-card>
    <ion-card-content>
      <h1 text-center class="position-value">{{day.positionSymbol}}</h1>
      <p>{{ 'DAY.POSITION.LAST_DAY_PERIOD' | translate}}</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="day.visibility === 3">
  <ion-card>
    <ion-card-content>
      <h1 text-center class="position-value">{{day.positionSymbol}}</h1>
      <p>{{ 'DAY.POSITION.MINIMUM_NIGTHS_PROBLEM' | translate}}</p>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="day.visibility === 4 || (day.visibility===1 && day.position===0)">
  <ion-card>
    <ion-card-content>
      <h1 text-center class="position-value" [innerHTML]="day.positionSymbol"></h1>
      <p>{{ 'DAY.POSITION.NOT_APPEARS' | translate:param}}</p>
    </ion-card-content>
  </ion-card>
</div>
