<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>{{ 'PROPERTIES.TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button  ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>

<!--
    <ion-item-sliding *ngFor="let property of properties">
      <button ion-item (click)="openItem(property)">
        <ion-avatar item-start>
          <img [src]="property.smallImage" />
        </ion-avatar>
        <h2>{{property.name}}</h2>
        <p>{{property.address}}</p>
        <ion-note item-end *ngIf="property.nombrePropietario">{{property.hostName}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(property.id)">
          {{ 'PROPERTIES.DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>-->
    <ion-card *ngFor="let property of properties">
      <img [src]="property.largeImage" (click)="openItem(property)">

      <ion-card-content (click)="openItem(property)">
        <ion-card-title>{{property.name}}</ion-card-title>
        <p>{{property.address}}</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="openItem(property)">
            <ion-icon name="eye"></ion-icon>
            <div>{{ 'PROPERTIES.SEE_BUTTON' | translate }}</div>
          </button>
        </ion-col>
        <ion-col></ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="deleteItem(property.id)">
            <ion-icon name="trash"></ion-icon>
            <div>{{ 'PROPERTIES.DELETE_BUTTON' | translate }}</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>
</ion-content>
