<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>{{ 'PROPERTIES.TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button  ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>

<!--
    <ion-item-sliding *ngFor="let property of properties">
      <button ion-item (click)="openItem(property)">
        <ion-avatar item-start>
          <img [src]="property.smallImage" />
        </ion-avatar>
        <h2>{{property.name}}</h2>
        <p>{{property.address}}</p>
        <ion-note item-end *ngIf="property.nombrePropietario">{{property.hostName}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(property.id)">
          {{ 'PROPERTIES.DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>-->
    <ion-card *ngFor="let property of properties">
      <ion-grid class="property-card-image" no-padding>
        <ion-row no-padding>
          <ion-col col-6 (click)="openItem(property)">
            <div tappable class="property-profile" text-center #profilePic [style.background-image]="'url(' + property.largeImage + ')'"></div>

            <!--<img  [src]="property.largeImage" tappable (click)="openItem(property)">-->
          </ion-col>
          <ion-col col-6>

            <ion-card-content tappable class="property-card-content">
              <ion-row no-padding>
                <ion-col no-padding (click)="openItem(property)">
                  <ion-card-title class="property-card-title">{{truncatePropertyTitle(property.name)}}</ion-card-title>
                </ion-col>
              </ion-row>

              <ion-row no-padding >
                <ion-col col-4 no-padding class="property-card-buttons-row">
                  <button (click)="deleteItem(property.id)" no-padding ion-button icon-left clear small  class="property-remove-button">
                    <ion-icon name="trash"></ion-icon>
                    <div>{{ 'PROPERTIES.DELETE_BUTTON' | translate }}</div>
                  </button>
                </ion-col>

                <ion-col col-4 no-padding></ion-col>

                <ion-col col-4 no-padding class="property-card-remove-button" (click)="openItem(property)">

                  <button no-padding ion-button icon-left clear small (click)="openItem(property)">
                    <ion-icon name="eye"></ion-icon>
                    <div>{{ 'PROPERTIES.SEE_BUTTON' | translate }}</div>
                  </button>
                </ion-col>
              </ion-row>

            </ion-card-content>

          </ion-col>
        </ion-row>
      </ion-grid>



    </ion-card>
  </ion-list>
</ion-content>
